[2016-12-24 12:08] NotThizTime opened #1 "Unknown Exception when encounters Exercise or Quiz"
This issue happens when the program encounters a Exercise or Quiz during download. For example, course 95 has Exercise at the end of Chapter 2. The program will download video from the first two chapters without any problem and then crash after the last video from chapter 2 is downloaded.

ERROR    Unknown Exception
ERROR    'NoneType' object is not iterable
Traceback (most recent call last):
  Fi

[2016-12-31 09:22] vassim commented on #1
Thank you for your report :+1: ! I'll fix this crash problem as early as possible and sorry for my late reply, I just came back from my vacation. :)

FYI, I'm not planning to enable the feature for downloading the exercises or quizzes by my next release! I'll be publishing a 'To Do' list soon, please refer that one for more info!

[2017-01-04 08:21] lynecker opened #2 "ERROR Unknown Exception + Download partially failed"
**When i try to download with any course it's show this error :**
[code]

And When i am download this course _"https://linuxacademy.com/cp/modules/view/id/13"_ all its okay.
but when i am download this course _"https://linuxacademy.com/cp/modules/view/id/38"_ only some of which can be downloaded, maybe 3 or 4 folder can downloaded.

[2017-01-04 12:08] #1 closed

[2017-01-04 12:11] vassim commented on #2
Thank you for your report. It looks like a duplicate of #1. I fixed it already!

[2017-01-04 12:12] #2 closed

[2017-01-13 17:41] maestrofx opened #3 "nuggets in LA"
Hi @vassim ,

I think it's great to see if there's a functionality to download LinuxAcademy's nuggets too.
Great work for this tools, tough!
Thank you.

[2017-01-18 12:09] vassim commented on #3
Thanks for your suggestion, I'll keep that in mind! :blush:

[2017-01-19 12:16] samsun076 opened #4 "HLS Decryption Error"
Hi There,
When downloading using the ffmpeg option I get the below error:
`Invalid data found when processing input`
I have replicated this on both OSX and ubuntu.  Am I missing any sort of extension for ffmpeg or is this a known issue. Also, not using the ffmpeg option downloads videos but they are unplayable. Thanks for the great work!

[2017-01-20 13:45] vassim commented on #4
Hmm.. That's strange! Which version of FFMPEG and Python are you using there?
Please run this command `python --version;ffmpeg -version;` and post the result here!
(I recommend you to use python>=2.7.10 or Python>=3.5.0 to run this program)

[2017-01-21 18:58] ethmai commented on #4
I have the same issue as samsun076. The program ran very fast but the videos are not playable.
Looks like it was not able to process the downloaded mp4 with error:
_/var/folders/bz/4glv96k93ts663z8xl6p4bm00000gp/T/tmp_bcTD2: **Invalid data found when processing input**_
python --version;ffmpeg -version returns
_Python 2.7.12
ffmpeg version 3.2.2 Copyright (c) 2000-2016 the FFmpeg developers
built

[2017-01-23 15:03] samsun076 commented on #4
Vassim
Thanks for the reply.  I installed python 2.7.10 and am getting the same results.  Below is the output of the versions...Any other thoughts?

`--$ python --version;ffmpeg -version;
Python 2.7.10
ffmpeg version 2.8.10-0ubuntu0.16.04.1 Copyright (c) 2000-2016 the FFmpeg developers
built with gcc 5.4.0 (Ubuntu 5.4.0-6ubuntu1~16.04.4) 20160609
configuration: --prefix=/usr --extra-version=0ubunt

[2017-01-24 05:07] jlwils28 commented on #4
I'm having the exact same issue as everyone above. I'm also looking for a solution if one is available. Thanks in advance

Python 2.7.12
ffmpeg 2.8.10

[2017-01-24 11:04] adhioutlined opened #5 "object has no attribute 'get_extension_for_class'"
hi, I've got this error while running on my centos 7,

this is my installed version
[code]

and here is error :

[code]

[2017-01-27 11:32] arush-sal opened #6 "SSL: InsecurePlatformWarning error"
`INFO     Logging in ...`
`/usr/local/lib/python2.7/dist-packages/requests/packages/urllib3/util/ssl_.py:334: SNIMissingWarning: An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS is not available on this platform. This may cause the server to present an incorrect TLS certificate, which can cause validation failures. You can upgrade to a newer version of Python

[2017-01-27 11:50] arush-sal opened #7 "Pip installation error"
[code]

[code]

[2017-01-29 12:16] vassim commented on #4
OK guys! I'll take care of this problem!

[2017-01-29 12:30] vassim commented on #7
Hi @arush-sal, Thanks for reporting the issue! I think this issue is beyond the scope of this project. It looks like you are using an incompatible python version in your system. Please use Python>=2.7.10 or Python>=3.5.0.

[2017-01-29 12:36] #7 closed

[2017-01-29 13:06] vassim commented on #5
Hi @adhioutlined, thanks for reporting this issue! I think you are using an older version of `cryptography` library there! Please upgrade the library (`pip install --upgrade cryptography`) and try again. If you are seeing any error messages while upgrading the library, please visit [this link](http://stackoverflow.com/questions/29099404/ssl-insecureplatform-error-when-using-requests-package?answer

[2017-01-29 13:11] vassim commented on #6
Hi @arush-sal, thanks for reporting this issue! This is happening because you are using older crypto libraries in your system. Please visit [this link](http://stackoverflow.com/questions/29099404/ssl-insecureplatform-error-when-using-requests-package?answertab=active#tab-top) and follow the instructions carefully, it will fix your problem!

[2017-01-29 13:15] #6 closed

[2017-01-29 13:15] #5 closed

[2017-01-30 11:30] arush-sal commented on #4
Even I am facing the same issue and because of this the videos downloaded aren't playable.

My python and ffmpeg version:

[code]
[code]

[2017-02-05 17:19] okian opened #9 "Installation error"
unfortunately I'm not a python developer. I tried python 3.6, 3.5.3 and 3.5.0, any help to solve this problem will be appreciated.
[code]

[2017-02-06 09:18] arush-sal opened #10 "Unicode error while downloading "CompTIA Cloud Essentials Certification""
[code]

[2017-02-06 09:34] arush-sal commented on #10
As a matter of fact, this issue can simply be fixed by:
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'

[2017-02-06 10:16] arush-sal commented on #9
@okian  Exactly! The script is not python 3.5 ready, you will either have to use python 2.7 or you can use its [docker container](https://hub.docker.com/r/arush/linuxacademy-dl/).

[2017-02-06 16:31] okian commented on #9
Then why in README it's says "prerequisites python (2 or 3)" ?!!
https://github.com/vassim/linuxacademy-dl#prerequisites

[2017-02-06 16:36] arush-sal commented on #9
@okian My friend, that should be the question for the author @vassim 😅

[2017-02-07 21:28] lestex commented on #4
same for me
Python 2.7.13
ffmpeg version 3.2.3

[2017-02-08 20:49] sachinna opened #11 "Very useful tool !!!"
I am able to download courses on linux CentOS 7.2 but when i am trying to install it on Windows 10 its giving an error

PS C:\Users\DELL> pip install linuxacademy-dl
Collecting linuxacademy-dl
  Using cached linuxacademy-dl-1.0.dev2.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\User

[2017-02-09 01:12] thangduong3010 commented on #11
what's your python version?

[2017-02-09 06:10] sachinna commented on #11
Python 3.6.0

[2017-02-09 07:30] thangduong3010 commented on #11
print 'error' => python 2 syntax
run it with python 2 instead

[2017-02-09 08:34] sachinna commented on #11
Yeah, Its working with Python 2.7.12
Thank you :)

[2017-02-09 08:34] #11 closed

[2017-02-09 09:46] thangduong3010 commented on #11
pleased to help :)

[2017-02-11 10:59] jlwils28 commented on #4
Thanks for looking into the bug. Have you figured out what could be the cause of the bug? Do you need more information from us?

[2017-02-11 11:48] arush-sal commented on #4
@lestex @jlwils28 checkout: https://github.com/arush-sal/linuxacademy-dl/

[2017-02-11 21:34] lestex commented on #4
@arush-sal Great, docker works fine!

[2017-02-11 21:35] arush-sal commented on #4
@lestex Glad that you like it :-)

[2017-02-13 12:13] jlwils28 commented on #4
@arush-sal  Thanks for the suggestion but im having some issues installing Docker on my Lubuntu (flavor of Ubuntu) machine. Do you have any suggestions?

[2017-02-13 12:24] lestex commented on #4
that https://docs.docker.com/engine/installation/linux/ubuntu/ may help

On Mon, Feb 13, 2017 at 3:13 PM, jlwils28 <notifications@github.com> wrote:

--
Best regards, Andrey Larin

[2017-02-13 13:45] arush-sal commented on #4
@jlwils28 You can share the error, I'll try help you as I can

[2017-02-13 14:03] shardulsrivastava commented on #4
Hi @arush-sal I downloaded the Docker. I am not aware of Docker Technology.Can u list the steps to download the linuxacademy course.

[2017-02-13 14:33] arush-sal commented on #4
@shardulsrivastava You can use the python code from my fork or if you wish to use the docker version you can find more info at https://docs.docker.com/

For any more issue related to my code you can create an issue in my repo.

**Not Taking Requests Here Anymore**

[2017-02-13 15:07] jlwils28 commented on #4
@arush-sal When I try to run the "docker run -it -v <local-dir>:/media arush/linuxacademy-dl" command I get the error message 'bash: local-dir: No such file or directory'

[2017-02-13 15:34] arush-sal commented on #4
@jlwils28 Create and issue in my repo and will take care of it there.

[2017-02-15 17:35] vassim commented on #4
Hi Guys, Sorry for this late response, I was a little bit busy with my other projects.

@jlwils28 Yes, I've figured it out. This problem is happening because Linuxacademy implemented HLS encryption in their end. I'll be releasing a new version (v1.0a1) by Monday and this issue will not be there.

@arush-sal I've seen the way you fixed this issue. Thank you very much for spending your valuable time

[2017-02-15 19:13] vassim commented on #10
Thank you for reporting this issue @arush-sal !

[2017-02-17 21:46] alfredogarza opened #12 "Missing parentheses in call to 'print'"
I'm getting this error on Windows 7

PS C:\Users\XtC> python -m pip install linuxacademy-dl
Collecting linuxacademy-dl
  Using cached linuxacademy-dl-1.0.dev2.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\XtC\AppData\Local\Temp\pip-build-766cfw44\linuxacademy-dl\setup.py", lin

[2017-02-18 09:49] vassim commented on #12
Hi @alfredogarza, Thanks for reporting this issue. I've already fixed this issue and it won't be there in the next version (v1.0a1)

[2017-02-18 13:53] shardulsrivastava commented on #12
Hi @alfredogarza,you can avoid this error be using Python 2.7 version.

[2017-02-19 00:47] alfredogarza opened #13 "Cannot Render File"
Hi,

I downloaded some videos using Ubuntu 16.04, but I cannot open them, Media Player Classic state "Cannot render video file", are they now protected?

[2017-02-19 16:35] vassim commented on #13
Hi @alfredogarza, Thank you for reporting this issue. It looks like a duplicate of #4.
You are correct, the video stream is now protected. But you needn't worry about that any more - I've already fixed the problem and this issue won't be there by v1.0a1.

[2017-02-20 16:35] #4 closed

[2017-02-20 16:36] #10 closed

[2017-02-20 16:36] #12 closed

[2017-02-20 16:36] #13 closed

[2017-02-21 00:14] steve-offutt opened #14 "Issue downloading LPIC level 1"
When I try and download LPIC level 1 I get the following error:
[code]

[2017-02-21 09:11] vassim commented on #14
Thank you for reporting this issue. I've fixed it, please use the latest version (v1.0a2)

[2017-02-21 09:11] #14 closed

[2017-02-21 15:15] shardulsrivastava opened #15 "Installation Failed With error Microsoft Visual 9.0++ is required"
Here is the Error Log

 copying lib\Crypto\Signature\__init__.py -> build\lib.win32-2.7\Crypto\Signature
 running build_ext
 warning: GMP or MPIR library not found; Not building Crypto.PublicKey._fastmath.
 building 'Crypto.Random.OSRNG.winrandom' extension
 error: Microsoft Visual C++ 9.0 is required. Get it from http://aka.ms/vcpython27

[2017-02-21 15:57] shardulsrivastava opened #16 "'ascii' codec can't decode byte 0x80 in position 0: ordinal not in range(128)"
While Downloading the LinuxAcademy video, i faced this issue.
Error :

INFO     Logged Out!
ERROR    Unknown Exception
ERROR    'ascii' codec can't decode byte 0x80 in position 0: ordinal not in range(128)
Traceback (most recent call last):
  File "c:\python27\lib\site-packages\linuxacademy_dl\cli.py", line 220, in main
    la.download()
  File "c:\python27\lib\site-packages\linuxacademy_dl\linux_

[2017-02-21 16:10] vassim commented on #16
Hi @shardulsrivastava, can u please run the app with `--debug` switch and post the log here? And which course are you trying to download?

[2017-02-21 16:15] vassim commented on #15
Hi @shardulsrivastava, Please visit http://www.voidspace.org.uk/python/pycrypto-2.6.1/, download a suitable PyCrypto distribution from there and install it in your system. Then try to install `linuxacademy-dl` again.

[2017-02-22 05:34] #15 closed

[2017-02-23 05:56] vassim commented on #9
Hi @okian, I've already fixed this issue, please try to install the latest version (v1.0a2) in your system.

[2017-02-23 05:56] #9 closed

[2017-02-24 10:49] vassim opened #17 "TypeError: putch() argument 1 must be char, not unicode"
Python Version: **(CPython) 2.7.13**
OS: **Windows 7**

linuxacademy-dl throws an error like this while trying to download courses in **windows machines**.

**Note:** Linux and Mac systems are not affected with this issue

[code]

[2017-02-26 12:07] helloguangxue opened #18 "'ascii' codec can't decode byte 0x80 in position 0: ordinal not in range(128)"
**I get following errors, hope it will be fixed. Thank you very much.**

Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/linuxacademy_dl/cli.py", line 220, in main
    la.download()
  File "/Library/Python/2.7/site-packages/linuxacademy_dl/linux_academy.py", line 155, in download
    self._course.download()
  File "/Library/Python/2.7/site-packages/linuxacademy_dl/cour

[2017-02-26 12:27] vassim commented on #18
Hi @helloguangxue, can u please run the app with --debug switch and post the log here? And which course are you trying to download?

[2017-02-26 12:37] helloguangxue commented on #18
**Course (Linux Essentials Certification) Link: https://linuxacademy.com/cp/modules/view/id/38**

**I think the log file has the same content as the output errors, here is the log file content, thank you for your time.**

2017-02-26 23:30:25,004 INFO     Debug log file created at /Users/Guangxue/linuxacademy-dl/log/log_2017-02-26T23:30:25.004641.log
2017-02-26 23:30:25,005 DEBUG    Python: CPython

[2017-02-26 16:47] vassim commented on #18
@helloguangxue, Thanks for reporting this issue, I'll take care of this one. :+1:

[2017-02-27 21:14] Klaudioz commented on #18
I think the problem is due to the logout: 2017-02-26 23:33:02,639 INFO Logged Out!

In my case, I had the same error I tried again and I have the problem but in another file at the end.

[2017-02-28 14:00] gosse commented on #18
As a workaround, if you re-run the same command, it usually downloads a few more files before quitting. Done enough times, you can download the entire course.

[2017-03-03 02:31] crisarceramos opened #19 "Error 104 - 'Connection reset by peer'"
Hi Vassim, I'm getting below error while downloading..can u help please thanks!

`INFO     Logging in ...
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Downloading *************.mp4
INFO     Logged Out!
ERROR    Unknown Exception
ERROR    ("Connection broken: ConnectionResetError(104, 'Connection reset by peer')", ConnectionResetError(104, 'Connection reset by peer'))
Traceback (m

[2017-03-06 18:59] vassim commented on #18
@Klaudioz, Nop, The problem wasn't happening because of that logout. Please take a look at 8e592e63c8edcf6570cac93be745dbfc0fe6357e! :wink:
@gosse. I like that idea! You are a genius!! :smile:

[2017-03-06 19:10] vassim commented on #19
@crisarceramos Thank you for reporting this issue. Please make sure that you have a good Internet connectivity there. These kind of issue mostly happens with poor Internet connectivity. Any way I'll add a `try .. except` block to handle that exception! If you are still facing this issue, please run the application with `--debug` switch and paste the log here!

[2017-03-08 13:52] #17 closed

[2017-03-08 13:52] #18 closed

[2017-03-08 13:53] #16 closed

[2017-03-10 12:23] helloguangxue opened #20 "Input strings must be a multiple of 16 in length"
**I think I found another issue
   Course url: https://linuxacademy.com/cp/modules/view/id/58
   Here is the debug log file:**

2017-03-10 23:08:20,782 INFO     Debug log file created at /Users/Guangxue/linuxacademy-dl/log/log_2017-03-10T23:08:20.782253.log
2017-03-10 23:08:20,782 DEBUG    Python: CPython 3.6.0 (default, Jan  1 2017, 17:29:58) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42

[2017-03-10 18:05] gosse commented on #19
Hello, I am having the same issue.

with --debug:

`INFO     Debug log file created at /home/mradmin/linuxacademy-dl/log/log_2017-03-10T13:02:29.638145.log
DEBUG    Python: CPython 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
DEBUG    Platform: Linux-4.4.0-53-generic-x86_64-with-Ubuntu-16.04-xenial [#74-Ubuntu SMP Fri Dec 2 15:59:10 UTC 2016]
DEBUG    OS: Linux - Ubuntu 16.04 xenia

[2017-03-15 22:38] TBUtsav opened #21 "Never completed Login!"
always throw an error
INFO     Logging in ...
ERROR    Username or email not found! Please try again.

[2017-03-16 06:40] mstickler opened #22 "MissingSchema: Invalid URL 'None': No schema supplied."
For this course "https://linuxacademy.com/cp/modules/view/id/44" download fails with the following error:

INFO     Debug log file created at /Users/mstickler/linuxacademy-dl/log/log_2017-03-16T07:36:38.573802.log
DEBUG    Python: CPython 2.7.10 (default, Jul 30 2016, 19:40:32) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]
DEBUG    Platform: Darwin-16.4.0-x86_64-i386-64bit [Darwin Kerne

[2017-03-16 17:10] vassim commented on #21
Hi @TBUtsav, I don't think there is a bug in the login module. I think you are entering the wrong credentials or you must be entering it in a wrong way.

If you are running the application by supplying the user credentials through `-u` or `-p` flags, please make sure that you are escaping all the special characters with a `\`.

For example, if you want to use the following credentials with the uti

[2017-03-16 17:10] #21 closed

[2017-03-16 19:25] vassim commented on #20
Hi @helloguangxue, Thanks for reporting this issue. I'll take care of this one!

[2017-03-16 19:36] vassim commented on #19
Hi Guys. I tried to reproduce this problem, but failed. I think this is happening because of some issues in the server side! If you guys are still facing this problem, please re open this issue! Thank you!

[2017-03-16 19:44] vassim commented on #22
Hi @mstickler, Thanks for reporting this issue. I tried to reproduce this problem, but failed. I think this is happening because of some issues in the server side! If you are still facing this problem, please re open this issue! Thank you!

[2017-03-16 20:02] mstickler commented on #22
Thanks, will see if I can find the reason why it fails for me.

[2017-03-17 09:24] eudesfilho commented on #20
Hey, I got the same "Input strings must be a multiple of 16 in lenght" bug while downloading LPI 202 videos, but after trying for a couple of times it worked.

[2017-03-17 09:28] eudesfilho opened #23 "Downloading Exercises"
Hey! First I just wanna say thanks for the amazing tool, it's being very helpful to me. I was thinking if would be hard to code something so we can "download" the exercises of the courses too. What do I mean is that the software would parse the exercises and the solutions into a pdf automatically, because right now I'm doing that manually.

[2017-03-17 23:36] mstickler commented on #22
Hi @vassim, today I tried a dozen of times to see if I have more luck this time, but the error didn't chnage. I looked at your code and added a couple of debug statements to get a better understanding of the problem. In "parsers.py" the key "uri" has a default value of None. In the course I stated in the issue, the value remains at None for exactly one of the videos and this is where it fails. Cha

[2017-03-19 15:43] icecrystal99 opened #24 "Connection broken: error"
When i try to download something, i get the following error:

INFO     Downloading /home/Documents/LinuxAcademy/Linux_Essentials_Certification/13 - Turning Commands into a Script/2 - Basic Shell Scripting.mp4
INFO     Downloaded /home/Documents/LinuxAcademy/Linux_Essentials_Certification/13 - Turning Commands into a Script/2 - Basic Shell Scripting.mp4
INFO     Downloading /Documents/LinuxAcademy/

[2017-03-24 05:37] greenthecolour opened #25 "No logs generated and not able to download new courses"
Hi Vassim,

I am not able to download the new courses which got released recently, where as I was able to download the old courses. I have attached the course links that I am trying to download, I am not able to get you the complete error as the log file does not get generated.

**Note:** Linux and Mac systems are not affected with this issue

#### Error when trying to get log

Traceback (most rec

[2017-03-24 13:46] vassim commented on #23
Hi @eudesfilho, This one is a good suggestion! I'll keep that in mind! :+1:

[2017-03-24 13:49] vassim commented on #22
Thanks for your efforts @mstickler. I think I got the problem now!

[2017-03-24 13:51] vassim commented on #25
Hi @greenthecolour, Thank you for reporting this issue! I'll fix that!

[2017-03-24 14:00] vassim commented on #24
Possible duplicate of #19

[2017-03-24 14:00] #24 closed

[2017-03-24 14:36] vassim opened #26 "Gracefull shutdown during keyboard interrupt"
Currently the end-users are facing several issues while trying to terminate the application through a keyboard interrupt.

1. The end-user need to press `ctrl+c` several times continuously in order to exit the application.
2. Some times the application won't show any response to the end user at all, and will keep continue its execution till the end.
3. Some times the application terminate itself w

[2017-03-25 04:50] greenthecolour commented on #25
Thanks for your response vassim. Looking forward for the fix at the earliest.

[2017-03-27 07:16] Muhamed-Hamid commented on #22
Hi @vassim ,

Is this updated in the original files or not ? as i still have the same bug mentioned by @mstickler

[2017-03-27 07:30] mstickler commented on #22
Hi @Muhamed-Hamid,

there is no updated version yet, but for the time being you can fix it by applying the changes I stated above. Might not be the perfect solution, but it's a solution :D

[2017-03-27 17:59] steve-offutt commented on #14
Awesome, thank you!

[2017-03-29 04:57] Muhamed-Hamid commented on #22
Hi @mstickler,

Thank you for that , it seems good to me , Appreciated your feedback.

BR,

[2017-03-29 08:02] TBUtsav opened #27 "[FeatureRequest] Multiple course download"
please add multiple course download option or complete course like if I want to download complete aws course then currently I have to download individual course

[2017-03-29 10:46] TBUtsav commented on #25
I'm also getting this error when downloading https://linuxacademy.com/cp/modules/view/id/108 course
please fix it!

[2017-03-29 16:48] henrymohn commented on #20
@eudesfilho I think It worked because it downloads part of the video it errors on, and then the next time you run the download process it sees the partial file and skips to the next video.  I tried the same thing on the LPIC-1 course and found that a video that should have been 27mins long was only 19secs long.

[2017-03-30 23:16] henrymohn commented on #20
Just as a follow up, I'm running against the same LPIC-1 course now and it's downloading just fine, so definitely seems like a server(Linux Academy's CDN more specifically) issue.  I checked the videos that were originally having this issue and they are indeed valid, full length videos.

[2017-03-31 12:31] umarmurtaza opened #28 "Getting errors and download breaks"
I have the latest version:
osboxes@osboxes:~$ linuxacademy-dl --version
linuxacademy-dl 1.0a3

Here the logs, please check:

osboxes@osboxes:~/linuxacademy/Running Container Clusters with Kubernetes$ linuxacademy-dl --debug https://linuxacademy.com/cp/modules/view/id/80

[code]

[2017-03-31 12:32] umarmurtaza commented on #28
sending the logs again ....

osboxes@osboxes:~/linuxacademy/Running Container Clusters with Kubernetes$ linuxacademy-dl --debug https://linuxacademy.com/cp/modules/view/id/80

INFO     Debug log file created at /home/osboxes/linuxacademy-dl/log/log_2017-03-31T13:08:31.309154.log
DEBUG    Python: CPython 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
DEBUG    Platform: Linux-4.8.0-41-

[2017-03-31 12:34] umarmurtaza commented on #28
dont know why the above logs are showing up as stroked :(

[2017-04-03 13:54] vassim commented on #28
Hi @umarmurtaza , Thank you for reporting this issue. I think it is a duplicate of #19.

[2017-04-03 13:54] #28 closed

[2017-04-03 14:11] vassim commented on #27
Hi @TBUtsav, That was a great thought, and thank you for bringing that up! I'm sorry to say that I don't have any plans to add a 'multiple course downloading' feature in this app.
But you can easily achieve this by following a small trick as explained in [this link](http://stackoverflow.com/questions/4227994/command-line-arguments-from-a-file-content).

For example, in our case you can use:-
`linu

[2017-04-03 14:11] #27 closed

[2017-04-04 07:47] #25 closed

[2017-04-04 07:47] #22 closed

[2017-04-04 07:47] #19 closed

[2017-04-04 07:48] #20 closed

[2017-04-05 02:43] mabushey opened #29 "Logged out!"
/media # linuxacademy-dl -u user -p pass https://linuxacademy.com/cp/courses/lesson/course/997/lesson/3/completed/2/module/119

INFO     Logging in ...
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Skipping already existing file /media/8 - Highly Available & Fault Tolerant VPC Networking/1 - Auto Scaling and Elastic Load Balancing Essentials.mp4
...
INFO     Skipping already exist

[2017-04-05 03:03] mabushey commented on #29
Adding the --debug flag adds this:
DEBUG    Python: CPython 2.7.13 (default, Dec 22 2016, 09:22:15) [GCC 6.2.1 20160822]
DEBUG    Platform: Linux-4.4.0-59-generic-x86_64-with [#80-Ubuntu SMP Fri Jan 6 17:47:47 UTC 2017]
DEBUG    OS: Unknown

[2017-04-05 11:18] vassim commented on #29
Hi @mabushey, Thank you for reporting this issue. I think this issue is beyond the scope of this project. The course you are referring here has some missing videos (Eg: SQS Essentials) and this problem must be happening because of that.

[2017-04-05 11:18] #29 closed

[2017-04-08 14:11] gregbook opened #30 "Program exits with code 1"
Hi @vassim, first of all great tool and amazing work.

I was just wondering why you are exiting with code 1? I am scripting the whole thing in a python file and using subprocess.check_call() method to wait the download to finis. This method awaits for exit code 0 and therefore breaks.

It might be out of scope, but I was just wondering why this choice. Thanks!

[2017-04-09 15:53] vassim commented on #30
Hi @gregbook, Thank you for reporting this issue. It is indeed a valid bug, and I'll fix that!

[2017-04-14 13:57] mohammednazib opened #31 "Not able to download the videos - getting below error"
ERROR    Unknown Exception
ERROR    Input strings must be a multiple of 16 in length
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/linuxacademy_dl/cli.py", line 206, in main
    la.download()
  File "/usr/local/lib/python2.7/site-packages/linuxacademy_dl/linux_academy.py", line 155, in download
    self._course.download()
  File "/usr/local/lib/python2.7/site-pa

[2017-04-14 14:40] vassim commented on #31
Hi there! Thanks for reporting this issue. Can you please call linuxacademy-dl with the --debug flag and submit its complete output here?

[2017-04-14 16:09] gkrepo commented on #31
Getting the same issue:

`2017-04-14 21:19:10,315 DEBUG    Executing FFMPEG Command "ffmpeg -loglevel fatal -i /tmp/tmp4z92v0_3 -y -bsf:a aac_adtstoasc -vcodec copy -c copy -crf 50 -f mp4 /root/devops/2 - Deployment With EC2 and Auto Scaling/9 - ELB Security.mp4"
2017-04-14 21:19:10,858 INFO     Downloaded /root/devops/2 - Deployment With EC2 and Auto Scaling/9 - ELB Security.mp4
2017-04-14 21:19:

[2017-04-15 05:00] greenthecolour commented on #31
Hi Vassim,

I pretty much get the same error on my Linux machine and also the download does not begin from the start of the course, it starts somewhere from the middle, see the error for more details. On windows the download begins sequentially and fails in the middle.

Please find the error from my Linux machine :

INFO     Debug log file created at /root/linuxacademy-dl/log/log_2017-04-15_10-14-

[2017-04-18 03:09] sheepdog817 opened #32 "Hitting an error while downloading at same point each time"
Attempting to download videos for the free AWS Certified Solutions Architect Course for reference.

INFO     Skipping already existing file /root/git/16 - RDS (Relational Database Service)/1 - RDS Essentials.mp4
INFO     Logged Out!
ERROR    Unknown Exception
ERROR    list index out of range
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/cli.py",

[2017-04-23 20:21] sheepdog817 commented on #32
Any chance on this receiving a fix before the AWS course rotates out at the end of the month? Thanks!

[2017-04-27 10:29] vassim commented on #32
Hi @sheepdog817, Thank you for reporting this issue. I think this issue is beyond the scope of this project. The course you are referring here had some missing videos before ("RDS Essentials" was one of 'em) and this problem was happening because of that.
It seems like the Linux Academy team has already fixed the issue and re uploaded the video. If you are facing similar kind of issues in future,

[2017-04-27 10:29] #32 closed

[2017-04-27 10:30] vassim commented on #31
Hi @greenthecolour, Thank you for posting the detailed report here! I'll fix that!

[2017-04-27 16:06] sheepdog817 commented on #32
Thanks for the reply @vassim! Attempted to pull again and am still coming across the same issue. It may be a good idea to add a small bit of logic to skip over broken videos. It may be an issue with Linux Academy videos, but your program fails if everything is not 100% correct on their end. I am going to attempt to debug this myself and add the code necessary to skip over broken videos.

[2017-04-30 09:39] vassim opened #33 "Skip Broken Videos"
This program currently crashes if there are any missing/broken videos in the server while downloading a course.

To Do:-
1. Skip all broken videos while downloading
2. Display suitable error/log messages

Reference #29, #32

[2017-05-03 14:07] JonKensy opened #34 "IndexError: list index out of range"
Encountering the following error:

user@UbuntuUtility:~$ sudo linuxacademy-dl -u -p  --debug -o /User-Share/Linux_Academy/Microsoft\ Azure/Azure_IoT_for_the_Enterprise/ https://linuxacademy.com/cp/modules/view/id/132
INFO     Debug log file created at /home/jkensy/linuxacademy-dl/log/log_2017-05-03_10-05-06.log
DEBUG    Python: CPython 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
D

[2017-05-19 05:15] Rishabh-Ahuja opened #35 "not able to install"
`pip install linuxacademy-dl
Collecting linuxacademy-dl
  Using cached linuxacademy_dl-1.0a4-py2.py3-none-any.whl
Collecting six>=1.10.0 (from linuxacademy-dl)
  Using cached six-1.10.0-py2.py3-none-any.whl
Collecting pycrypto>=2.6.1 (from linuxacademy-dl)
  Using cached pycrypto-2.6.1.tar.gz
Collecting requests>=2.12.1 (from linuxacademy-dl)
  Using cached requests-2.14.2-py2.py3-none-any.whl
Col

[2017-05-19 05:15] Rishabh-Ahuja commented on #35
this is the error message

[2017-05-24 15:50] ridicule777 opened #36 "Unable to run the application (even with the debig flag)"
Unable to run the application with any of the option. Does not even print the usage.

==================
Traceback (most recent call last):
  File "/usr/bin/linuxacademy-dl", line 7, in <module>
    from linuxacademy_dl.__main__ import main
  File "/usr/lib/python3.6/site-packages/linuxacademy_dl/__main__.py", line 38, in <module>
    from linuxacademy_dl.cli import CLI
  File "/usr/lib/python3.6/

[2017-05-24 15:51] ridicule777 commented on #36
OS: Manjaro Linux

[2017-06-07 02:42] venkikeesara commented on #35
EVen i got same error . Let us know if you could provide any solution

[2017-08-09 22:13] bruthwik opened #37 "Unable to download desired video format"
linuxacademy-dl -u hr@********* -p ************** -o C:\LinuxAcademy\ --use-ffmpeg -q 360 --debug -v https://linuxacademy.com/cp/modules/view/id/11

Please, can you provide the correct command to download video in 480 format. Thank you in Advance.

[2017-08-09 22:30] abacao commented on #37
@bruthwik

linuxacademy-dl -u hr@********* -p ************** -o C:\LinuxAcademy\ --use-ffmpeg -q 480 --debug -v

_Sent from my Xiaomi Redmi Note 3 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-10 02:25] deepk777 commented on #34
Getting the issue with and without --use-ffmpeg
linuxacademy-dl -u *** -p *** --use-ffmpeg https://linuxacademy.com/cp/modules/view/id/119 --debug

2017-08-10 07:47:05,543 DEBUG    Python: CPython 2.7.13 (v2.7.13:a06454b1afa1, Dec 17 2016, 20:53:40) [MSC v.1500 64 bit (AMD64)]
2017-08-10 07:47:05,553 DEBUG    Platform: Windows-10
2017-08-10 07:47:05,556 DEBUG    OS: Windows
2017-08-10 07:47:05,559

[2017-08-10 04:19] anushj200 opened #38 "Download is failing with the list index out of range"
Can some one please help to fix this issue,
python3 -m linuxacademy_dl -u ************ -p ********* -o /Users/anudeep/linuxacademy/ https://linuxacademy.com/cp/modules/view/id/74

INFO     Logging in ...
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Logged Out!
ERROR    Unknown Exception
ERROR    list index out of range
Traceback (most recent call last):
  File "/Library/Framework

[2017-08-10 04:21] anushj200 commented on #38
Result with debug flag,

python3 -m linuxacademy_dl -u ************ -p ********** -o /Users/anudeep/linuxacademy/ https://linuxacademy.com/cp/modules/view/id/74 --debug
INFO     Debug log file created at /Users/anudeep/linuxacademy-dl/log/log_2017-08-10_09-49-51.log
DEBUG    Python: CPython 3.6.1 (v3.6.1:69c0db5050, Mar 21 2017, 01:21:04) [GCC 4.2.1 (Apple Inc. build 5666) (dot 3)]
DEBUG    Platfo

[2017-08-10 17:35] nmunagala81 opened #39 "Unable to download though having latest version"
INFO     Logging in ...
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Logged Out!
ERROR    Unknown Exception
ERROR    list index out of range
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/cli.py", line 206, in main
    la.download()
  File "/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/linux_academy.py", line 155, in dow

[2017-08-11 06:52] dusansusic opened #40 "list index of of range"
I am unable to download videos from LA. Here is an output from debug output.

INFO     Debug log file created at /home/dusan/linuxacademy-dl/log/log_2017-08-11_08-50-20.log
DEBUG    Python: CPython 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
DEBUG    Platform: Linux-4.11.0-14-generic-x86_64-with-LinuxMint-18.2-sonya [#20~16.04.1-Ubuntu SMP Wed Aug 9 09:06:22 UTC 2017]
DEBUG    OS:

[2017-08-11 21:34] andrewiassur commented on #34
linuxacademy-dl -u -p --debug -o ~/linux_acadmey/essentials/ https://linuxacademy.com/cp/courses/lesson/course/55/lesson/1/module/10
INFO     Debug log file created at /home/andy/linuxacademy-dl/log/log_2017-08-11_17-31-46.log
DEBUG    Python: CPython 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]
DEBUG    Platform: Linux-4.4.0-89-generic-x86_64-with-Ubuntu-16.04-xenial [#112-Ubuntu

[2017-08-12 18:06] bruthwik commented on #37
@abacao

Sir i know that i can replace 360 with 480, what i actually mean is the entire command not working,

So what is the entire correct command to download video of desired format.

[2017-08-12 19:10] varmakosuri commented on #40
same issue

[2017-08-14 09:02] Ashh007 commented on #40
same issue, Please help here

[2017-08-14 10:15] massimosil commented on #40
Same

[2017-08-14 19:33] mohsaif opened #41 "Unable to download videos"
INFO     Debug log file created at /root/linuxacademy-dl/log/log_2017-08-14_22-28-37.log
DEBUG    Python: CPython 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]
DEBUG    Platform: Linux-3.10.0-514.6.1.el7.x86_64-x86_64-with-centos-7.3.1611-Core [#1 SMP Wed Jan 18 13:06:36 UTC 2017]
DEBUG    OS: Linux - CentOS Linux 7.3.1611 Core
INFO     Logging in ...
INFO     Anal

[2017-08-15 03:01] sohel4r commented on #41
Same problem here

[2017-08-15 13:22] susanafdez commented on #41
Same problem here

[2017-08-16 15:35] bruthwik opened #42 "unable to download"
<img width="713" alt="1" src="https://user-images.githubusercontent.com/20879292/29371675-03559d86-8277-11e7-82d4-329a02f3a1fb.PNG">

[2017-08-18 06:38] Hardik2003 commented on #40
Same issue. Not able to download even a single course due to the issue. Did anyone find a solution to this?

[2017-08-18 08:47] jerrygsheldon commented on #40
I have the Same Issue - My Distro and Kernel Info if it helps
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial
4.10.0-32-generic #36~16.04.1-Ubuntu SMP Wed Aug 9 09:19:02 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-08-19 20:18] phaxt commented on #40
The same problem.

[2017-08-20 07:21] deepk777 commented on #40
Can we have this issue solved before my account gets expired by end of this month.

[2017-08-21 22:42] tjmai commented on #34
Having the same issue. Could you please help? Many thanks!

[2017-08-23 12:25] mstickler commented on #41
Easy fix, if you "dare" to replace a file ;-)

https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip

[2017-08-23 12:26] mstickler commented on #42
Easy fix, if you "dare" to replace a file ;-)

https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip

[2017-08-23 12:26] mstickler commented on #40
Easy fix, if you "dare" to replace a file ;-)

https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip

[2017-08-23 12:26] mstickler commented on #39
Easy fix, if you "dare" to replace a file ;-)

https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip

[2017-08-23 12:27] mstickler commented on #38
Easy fix, if you "dare" to replace a file ;-)

https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip

[2017-08-23 12:28] mstickler commented on #34
Easy fix, if you "dare" to replace a file ;-)

https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip

[2017-08-23 14:14] sudheer52 commented on #40
Hey Dude, can you elaborate  a bit ? @mstickler . Just exactly which file needed to be replaced ?

[2017-08-23 14:28] susanafdez commented on #40
@mstickler. I have updated file /usr/lib/python2.7/site-packages/linuxacademy_dl/assets.py and tried to download again but I get this error

INFO     Debug log file created at /root/linuxacademy-dl/log/log_2017-08-23_15-26-19.log
DEBUG    Python: CPython 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]
DEBUG    Platform: Linux-3.10.0-327.10.1.el7.x86_64-x86_64-with-ce

[2017-08-23 14:44] susanafdez commented on #40
@mstickler File updated with your code and downloading!! Thanks!!

File I have updated is /usr/lib/python2.7/site-packages/linuxacademy_dl/assets.py

[2017-08-23 17:31] mstickler commented on #40
@sudheer52 assets.py needs to be replaced. You'll have to find it on your system. On my linux box it's at /usr/lib/python2.7/site-packages/linuxacademy_dl/assets.py.

[2017-08-24 07:22] DheerajJoshi opened #44 "Unable to download"
This is what I got as output
INFO     Debug log file created at /root/linuxacademy-dl/log/log_2017-08-24_12-52-04.log
DEBUG    Python: CPython 2.7.13 |Anaconda 4.4.0 (64-bit)| (default, Dec 20 2016, 23:09:15) [GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
DEBUG    Platform: Linux-4.9.0-kali4-amd64-x86_64-with-debian-kali-rolling [#1 SMP Debian 4.9.30-2kali1 (2017-06-22)]
DEBUG    OS: Linux - debian kali-r

[2017-08-24 07:32] DheerajJoshi commented on #44
fixed it ....replaced the assets.py file .... and it start working .... !!!! :)

[2017-08-24 09:55] sudheer52 commented on #40
@mstickler Thanks , it's working !

[2017-08-24 11:08] Hardik2003 commented on #40
Works like a charm!! Thanks a lot @mstickler . Much appreciated!!

[2017-08-26 09:09] jerrygsheldon commented on #34
Thanks mstickler!  you fixed my issue

[2017-08-27 17:25] Great-Dragon commented on #40
still doesn't work. I've replaced the file in here

`$ ls -la /usr/local/lib/python2.7/dist-packages/linuxacademy_dl/assets.py
-rw-r--r-- 1 root root 4936 Aug 23 05:22 /usr/local/lib/python2.7/dist-packages/linuxacademy_dl/assets.py`

I'm using Ubuntu 17.04

[2017-08-27 18:05] mstickler commented on #40
@Great-Dragon delete the file assests.pyc (same location) and try again.

[2017-08-27 22:44] Great-Dragon commented on #40
@mstickler Thanks. It worked.
But still it doesn't work inside Docker Image.

[2017-08-28 05:01] mstickler commented on #40
@Great-Dragon Good to here it works for you now. I'm NOT the maintainer of the code, just a normal user like the rest here. I needed the tool, it didn't work, so I fixed it (for me) and thought I should/could share. I'm not using Docker so I ... ;-)

[2017-08-28 09:21] Great-Dragon commented on #40
@mstickler Cool. I and everyone else appreciate your contribute to the community. At first I was confused as I thought Docker is required for the tool to work. But it's NOT. I'm really happy about that.

[2017-08-29 19:25] andreifilip commented on #44
What if I use docker to run. Where should I look?
It's enough to re-build the image?

Thanks a lot

[2017-08-29 23:48] naresh219 opened #46 "Logging out Automatically"
Hi Vassim,

I have replaced the assets file as you mentioned in earlier issues however, I am not able to download the videos, as it logging out automatically. please refer the following screen shot.
![screen shot 2017-08-30 at 5 13 21 am](https://user-images.githubusercontent.com/31458440/29849155-953c1466-8d42-11e7-9619-c174fb565eea.png)

[2017-08-30 00:56] naresh219 commented on #46
HI Vassim,

Issue is resolved as my subscription in expired and will be able to download after resubsciption

[2017-08-30 14:48] mstickler commented on #46
Good to hear you solved the issue. Btw I was the one who fixed the assets.py file, in case there are other issues ;-)

[2017-08-31 07:24] jlwils28 opened #47 "Download Lab Videos"
First of all thanks a lot for making this program. It's been extremely helpful! I would like to put in a request. It would be great if this program could download the Lab videos as those are some of the most important videos. Thanks again for all of your hard work.

[2017-09-01 03:00] 0x221E opened #48 "Error : HTTPSConnectionPool (Max tries exceeded)"
I am getting error as below -
ERROR    HTTPSConnectionPool(host='linuxacademy.com', port=443): Max retries exceeded with url: /cp/login/quit (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x7fe20423a400>: Failed to establish a new connection: [Errno -2] Name or service not known',))

PFA Debug [logs](https://send.firefox.com/download/ce6cd09c

[2017-09-02 05:11] #48 closed

[2017-09-05 15:06] shardulsrivastava commented on #40
Great Thanks @mstickler .Just a note in windows replace it
C:\Python27\Lib\site-packages\linuxacademy_dl
where C:\Python27 is where Python is installed .

[2017-09-06 14:06] sharmanaman commented on #46
I m again facing issue

INFO     Logging in ...
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Logged Out!
ERROR    Unknown Exception
ERROR    list index out of range
Traceback (most recent call last):
  File "build/bdist.linux-x86_64/egg/linuxacademy_dl/cli.py", line 206, in main
    la.download()
  File "build/bdist.linux-x86_64/egg/linuxacademy_dl/linux_academy.py", line 155, in

[2017-09-07 08:45] mstickler commented on #46
Seems like the old code (with errors) is active again. The command "return LessonProcessor.m3u8_grabber.findall(lesson_page_source)[0]" is not part of the fixed code I posted.

[2017-09-09 00:12] tianmarin commented on #40
@mstickler thanks for your help!

For the docker container, I did this:
[code]
I know there is two directories, but i really don't know which one did the trick 😝  (feel free to check).

[2017-09-09 01:44] tianmarin commented on #44
@andreifilip check this one:
https://github.com/vassim/linuxacademy-dl/issues/40#issuecomment-328240628
I got it working in docker (with the replaced file

[2017-09-09 01:47] tianmarin commented on #35
I would strongly recommend using the docker image. On Mac OS, i had a similar issue and couldn't fix it.. Using docker makes things really simple.

I know this is not a solution, but considering the lack of response, you might need an alternative

[2017-09-10 12:40] bryn1u opened #50 "linuxacademy-dl has been crashed. Probably because of OS version."
Hello guys,

I can download video becouse of bug. I tried even from root but the same :(((

root@proton:~/test # linuxacademy-dl --debug -u xxx -p xx https://linuxacademy.com/cp/modules/view/id/39

INFO     Debug log file created at /root/linuxacademy-dl/log/log_2017-09-10_12-37-00.log
DEBUG    Python: CPython 2.7.13 (default, Aug 18 2017, 16:28:38) [GCC 4.2.1 Compatible FreeBSD Clang 4.0.0 (tags/

[2017-09-14 15:18] nemoback opened #51 "stop working"
NFO     Debug log file created at /Users/nemoback/linuxacademy-dl/log/log_2017-09-14_17-17-15.log
DEBUG    Python: CPython 2.7.13 (default, Jul 18 2017, 09:16:53) [GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.42.1)]
DEBUG    Platform: Darwin-15.6.0-x86_64-i386-64bit [Darwin Kernel Version 15.6.0: Sun Jun  4 21:43:07 PDT 2017; root:xnu-3248.70.3~1/RELEASE_X86_64]
DEBUG    OS: OS X - 10.11.6 x

[2017-09-16 20:13] skullscream opened #52 "No audio and timestamps aren't showing."
I get no audio when I download a video. I also don't see how long it is in minutes/seconds because it just shows all zeroes.

Downloading basic linuxacademy-dl with -q 720 at the end for 720p.

[2017-09-17 08:49] skullscream commented on #52
Nvm, i restarted my PC. Fixed it.

[2017-09-17 08:49] #52 closed

[2017-09-17 08:51] skullscream commented on #47
Also course/exercise files.

[2017-09-17 09:25] nemoback commented on #47
It doesn't work for me. How did you fix It?

On Sep 17, 2017 10:51, "Milan" <notifications@github.com> wrote:

[2017-09-17 12:06] gesundes commented on #50
Same for me.

[2017-09-20 00:08] kenstuddy commented on #51
I am able to replicate this issue on Ubuntu 16.04 LTS using both Python 2.7 and Python 3.5.

[2017-09-20 08:50] mikonoid commented on #51
Mac OS Sierra. I've got same problem

[code]

[2017-09-20 13:12] harishpal2090 opened #53 "hey- receving below error after entering my password"
Error-
INFO     Debug log file created at c:/Users/hapal4\linuxacademy-dl\log\log_2017-09-20_14-10-03.log
DEBUG    Python: CPython 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:40:30) [MSC v.1500 64 bit (AMD64)]
DEBUG    Platform: Windows-10-10.0.14393 [10.0.14393]
DEBUG    OS: Windows - 10 10.0.14393
ERROR    Unknown Exception
ERROR    invalid literal for int() with base 10: ''
Traceback (most re

[2017-09-21 09:37] nemoback commented on #51
Found solution. Thanks to mstickler

Easy fix, if you "dare" to replace a file ;-)https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip
--
location where to replace the file:
/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/

[2017-09-21 09:38] #51 closed

[2017-09-21 09:38] nemoback commented on #50
Found solution. Thanks to mstickler

Easy fix, if you "dare" to replace a file ;-)https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip
--
location where to replace the file:
/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/

[2017-09-21 11:01] mikonoid commented on #50
@nemoback thanks a lot! works for me

[2017-10-02 04:11] pra7792dip opened #54 "download nugget videos"
Hi I want to download quick training nuggets video to learn in my leisure time.
Right now it supports only courses from linux academy. Please reply as soon as possible

[2017-10-04 18:33] andreifilip commented on #44
Thanks a lot @tianmarin

[2017-10-13 17:39] saurabhsharma opened #55 "ERROR list index out of range"
DEBUG    Python: CPython 2.7.10 (default, Jul 15 2017, 17:16:57) [GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.31)]
DEBUG    Platform: Darwin-17.0.0-x86_64-i386-64bit [Darwin Kernel Version 17.0.0: Thu Aug 24 21:48:19 PDT 2017; root:xnu-4570.1.46~2/RELEASE_X86_64]
DEBUG    OS: OS X - 10.13 x86_64
INFO     Logging in ...
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Logged Ou

[2017-10-16 12:49] rokeno opened #56 "Cannot install linuxacademy-dl"
I keep getting this error, even though i run it with sudo:

configure: creating ./config.status
    config.status: creating src/config.h
    warning: GMP or MPIR library not found; Not building Crypto.PublicKey._fastmath.
    building 'Crypto.Hash._MD2' extension
    creating build/temp.linux-x86_64-2.7
    creating build/temp.linux-x86_64-2.7/src
    x86_64-linux-gnu-gcc -pthread -fwrapv -Wall -W

[2017-10-19 15:39] akopitsa commented on #55
The same issue

[2017-10-19 16:03] dkbhadeshiya commented on #55
Getting the same issue.

[2017-10-21 06:09] rumeshbandara commented on #55
Same issue here folks. Do we have a workaround for this?

[2017-10-21 06:44] akopitsa commented on #55
https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip
Now it works
Just change assets.py

[2017-10-21 07:40] saurabhsharma commented on #55
@akopitsa it works!! Thanks for the fix!!

[2017-10-21 07:54] saurabhsharma commented on #55
@akopitsa worked for couple of files only. Getting below error after some files downloaded.

[code]

[2017-10-21 07:55] akopitsa commented on #55
for me it works forever

[2017-10-21 07:57] saurabhsharma commented on #55
because of different file formats or file naming conventions?

[2017-10-21 08:03] akopitsa commented on #55
video files only

[2017-10-21 08:10] saurabhsharma commented on #55
I think I am getting this error because of I am getting logged out frequently. Is there any way I can set logout time?

[code]

[2017-10-22 19:15] rumeshbandara commented on #55
@akopitsa Thanks, it worked! 👍

[2017-10-25 10:01] pratipghosh commented on #55
Hi,

I am facing same issue with Docker Image for this tool.
As per previous post also replace the assets.py in folowing paths, but stall getting same error.

/opt/linuxacademy-dl/linuxacademy_dl/assets.py
/opt/linuxacademy-dl/build/lib/linuxacademy_dl/assets.py

Can anyone help me to resolve this issue?

Thanks in advance,
Pratip Ghosh

[2017-10-27 06:27] naeemkhan12 commented on #55
I am getting the same issue i have installed with docker image installation and pip installation but no luck :disappointed:

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/cli.py", line 206, in main
    la.download()
  File "/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/linux_academy.py", line 155, in download
    self._course.download()

[2017-10-30 22:42] Kasunmadura opened #57 "Couldn't download"
INFO     Logging in ...
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Logged Out!
ERROR    Unknown Exception
ERROR    list index out of range
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/cli.py", line 206, in main
    la.download()
  File "/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/linux_academy.py", line 155, in dow

[2017-11-01 14:25] philroche commented on #55
It looks like linuxacademy have changed their HTML and no longer include the m3u8 URL (JS variable "wowzaUrl2") which linuxacademy-dl is grepping for.

[2017-11-01 14:25] philroche commented on #57
This is a duplicate of https://github.com/vassim/linuxacademy-dl/issues/55

[2017-11-01 14:28] philroche commented on #50
@nemoback works for me too.

[2017-11-02 16:26] HerrFried commented on #55
I am getting this issue with version 1.0a4. News?

[2017-11-07 19:53] Great-Dragon commented on #55
Duplicate
https://github.com/vassim/linuxacademy-dl/issues/40

[2017-11-09 12:02] Hellboy7 commented on #34
@mstickler
Same error as above while downloading and can you help me with step by step guide for https://github.com/vassim/linuxacademy-dl/files/1245333/assets.py.zip to fix error.
I tried but failed

[2017-11-10 01:56] rizzahmad opened #58 "Username or email not found!"
Hi Vassim ... thanks for making such an amazing tool. I have been using it for a couple of days and have downloaded a couple of courses but now I am getting this error!

INFO     Logging in ...
ERROR    Username or email not found! Please try again.

I can assure that login details are correct .. but not sure why I'm getting this error now. I can login to the website successfully using same creden

[2017-11-10 12:31] amirooo71 opened #59 "Username or email not found!"
Hi

i get this error :

INFO Logging in ...
ERROR Username or email not found! Please try again.

i know my username and password are correct.

Vassim. please help!!!!!!

[2017-11-11 03:02] vasudevn commented on #58
Hi Vassim,

I'm also facing same issue. Appreciate if you can do the needful.

[2017-11-14 21:09] davidhenley commented on #58
Same

[2017-11-15 09:14] nemoback commented on #58
Login process changed on linuxacademy.  Somebody who knows python should change url_templates.py and implement usage of https://github.com/auth0/auth0-python

[2017-11-15 09:15] nemoback commented on #59
same as #58

[2017-11-15 15:43] davidhenley commented on #58
@vassim can you fix?

[2017-11-16 06:28] DheerajJoshi commented on #59
Hi

getting this error
INFO     Logging in ...
ERROR    Username or email not found! Please try again.

while username and password is correct.

Help out!!!!!

[2017-11-17 13:31] testyour commented on #58
Same here... 2 days before the subscription will be suspended.
@vassim Could you fix it?

[2017-11-17 17:17] davidhenley commented on #58
@testyour You shouldn't be downloading then cancelling your subscription.

[2017-11-17 17:43] testyour commented on #58
@davidhenley Hold your horses. I've paid for last 6 months. And I believe that is not your business when my subscription will be suspended. May be I lied, and it will end after next 6 months

[2017-11-19 06:34] coolaishwary11 commented on #58
@nemoback modified URL_templates.py now I can login successfully but can't download courses saying No Course Found!

[2017-11-19 19:50] fclerg commented on #58
Try the branch I created a pull request for :

[2017-11-19 23:06] nemoback commented on #58
thank you @fclerg , it works!

[2017-11-20 02:03] sohel4r commented on #58
@fclerg and @coolaishwary11  Excellent job

[2017-11-20 04:35] vasudevn commented on #58
Hi @fclerg,

I've cloned above git. Please explain next steps to download videos.
Thanks in advance.

[2017-11-20 13:14] testyour commented on #58
@fclerg

Traceback (most recent call last):
  File "C:\Program Files\Python35\Scripts\linuxacademy-dl-script.py", line 11, in <module>
    load_entry_point('linuxacademy-dl==1.0a4', 'console_scripts', 'linuxacademy-dl')()
  File "c:\program files\python35\lib\site-packages\pkg_resources\__init__.py", line 565, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  Fi

[2017-11-20 13:47] testyour commented on #58
@fclerg great job

[2017-11-20 23:32] hussienz commented on #58
@fclerg i tried many times to do your steps but still the same error :  Username or email not found! Please try again and there are something strange i don't understand there are difference in size of files in your branch and the downloaded files git clone -b authentication-fixes https://github.com/fclerg/linuxacademy-dl.git

[2017-11-21 00:47] sohel4r commented on #58
@hussienz  run
pip install bs4

[2017-11-21 09:41] hussienz commented on #58
@sohel4r Thanks Man , it works

[2017-11-22 23:32] cesarpball commented on #59
same

[2017-11-24 11:43] bhaskartatineni commented on #58
Can any one help on this as I'm not able to login. Getting the same issue.

[2017-11-25 04:35] Raviadonis commented on #58
Now i'm getting the below error

# python setup.py install
Traceback (most recent call last):
  File "setup.py", line 34, in <module>
    url='https://github.com/vassim/{}'.format(__title__),
ValueError: zero length field name in format

[2017-11-25 15:51] coolaishwary11 commented on #58
Getting the same error now username or email not found can you show me exact steps ?

[2017-11-26 07:57] mohsaif commented on #59
Hi Vassim,
same issue here

[2017-11-26 10:55] Raviadonis commented on #58
It worked for me. Thanks

On Nov 25, 2017 9:21 PM, "coolaishwary11" <notifications@github.com> wrote:

Getting the same error now username or email not found can you show me
exact steps ?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/vassim/linuxacademy-dl/issues/58#issuecomment-346948670>,
or mute the thread
<https://github.co

[2017-11-27 12:56] Aniketh-Raj opened #61 "Username / Account not found September 2017 onwards facing issue"
Hello Vassim,

I had initially created a free3 month subscription account of Linux Academy and was able to download one course of AWS.

But later on your code started giving me the error Username / Email
![img_27112017_182526_0](https://user-images.githubusercontent.com/22044620/33267670-647ca526-d3a0-11e7-8dab-c29ebc602726.png)
not found.

But i am able to access the Linux Academy website using t

[2017-11-27 16:46] fclerg commented on #61
Hi @Aniketh-Raj,

This issue has already been reported via #58 and #59.
As mentionnes in #58, I fixed it in a fork with the branch [authentication-fixes](https://github.com/fclerg/linuxacademy-dl/tree/authentication-fixes) for which the pull request is still pending.

Meanwhile, you can clone and install the code from this branch as follow :

[2017-11-27 17:15] Aniketh-Raj commented on #61
Hello @fclerg,

Yes i created this issue and then noticed the other two issues already created for the same.. plus you fixing the issue.. infact i already cloned it and started using it.. it works like a charm... No more errors... Thanks a lot again for fixing it on behalf of vassim...!!

[2017-11-27 17:15] #61 closed

[2017-12-01 03:22] adasari opened #62 "No Module Crypto"
HI ,
After following steps and installing six, bs4, requests, I am seeing "No Module Crypto".

I did pip install Crypto and still seeing same while executing linuxavademy-dll.

Thanks

[2017-12-01 06:42] sumit-srivastava opened #63 "Download exited on exception | local variable 'ts_accumulator' referenced before assignment"
INFO     Logged Out!
ERROR    Unknown Exception
ERROR    local variable 'ts_accumulator' referenced before assignment
Traceback (most recent call last):
  File "build\bdist.win-amd64\egg\linuxacademy_dl\cli.py", line 206, in main
    la.download()
  File "build\bdist.win-amd64\egg\linuxacademy_dl\linux_academy.py", line 222, in download
    self._course.download()
  File "build\bdist.win-amd64\egg

[2017-12-03 02:00] arnoldokoth commented on #58
@fclerg Awesome!

[2017-12-04 11:22] Arjoni commented on #58
@fclerg I downloaded your version but I am getting the following error when downloading https://linuxacademy.com/cp/modules/view/id/39 :

`INFO     Logged Out!
ERROR    Unknown Exception
ERROR    local variable 'ts_accumulator' referenced before assignment
Traceback (most recent call last):
  File "build/bdist.linux-x86_64/egg/linuxacademy_dl/cli.py", line 206, in main
    la.download()
  File "bu

[2017-12-08 19:26] nimika commented on #58
Appreciate if someone can please explain the exact steps for the fix
1. i downloaded the files from the branch and copied to c:\fix
2. cd c:\fix
3. ran python setup.py install
4. still getting same error  cannot login

[2017-12-10 14:34] Kkumarasw opened #64 "Login succeeds on browser but fails using your download tool"
I'm trying to download videos from linuxacademy, I am able to login through the browser but fails to validate the user while using the commandline.

H:\Education\Technology>linuxacademy-dl -u XXXXXXXXX -p ******* -o python-linuxacademy --debug https://linuxacademy.com/cp/modules/view/id/79
INFO     Debug log file created at C:\Users\Panda\linuxacademy-dl\log\log_2017-12-09_16-07-33.log
DEBUG    Py

[2017-12-11 04:26] Kkumarasw commented on #64
I also tried the option mentioned in the issue #61 but still having issue.

[2017-12-11 23:36] MuhamadOmr commented on #64
iam having that issue too with

[2017-12-12 07:12] rizzahmad commented on #58
@fclerg I really appreciate the help .. but I'm still getting some errors. Would be really great if you can guide in how to resolve this.

[code]
**I already have crypto installed**
[code]

[2017-12-12 23:29] abdennour commented on #64
this is because linuxacademy changed its way of authentication the last period by using a 3rd party for SSO.

[2017-12-15 14:55] vilayilarun opened #65 "Getting below error after entering username and password"
2017-12-14 16:52:37,249 INFO     Debug log file created at /root/linuxacademy-dl/log/log_2017-12-14_16-52-37.log
2017-12-14 16:52:37,250 DEBUG    Python: CPython 2.7.13 (default, Dec 22 2016, 09:22:15) [GCC 6.2.1 20160822]
2017-12-14 16:52:37,250 DEBUG    Platform: Linux-3.10.0-693.el7.x86_64-x86_64-with [#1 SMP Tue Aug 22 21:09:27 UTC 2017]
2017-12-14 16:52:37,250 DEBUG    OS: Unknown
2017-12-14

[2017-12-16 01:22] Kkumarasw commented on #64
Is there a fix coming for this issue ?

[2017-12-18 19:47] bhaskartatineni commented on #40
Hi All,

I'm unable to download the videos. Getting the error like "Username or password not found." Please anyone can help on this issue.

[2017-12-21 16:28] bhaskartatineni commented on #58
Please help me in downloading videos.

I'm getting username or password not found.

On Sat, Nov 25, 2017 at 10:05 AM, Raviadonis <notifications@github.com>
wrote:

--
Thanks & Regards,

Bhaskar Tatineni

EMAIL:- bhaskartatineni@gmail.com

PH.no:- 09241185285

[2017-12-24 02:54] reddysrock commented on #61
same issue after following  steps
git clone -b authentication-fixes https://github.com/fclerg/linuxacademy-dl.git
python setup.py install

[2017-12-29 01:54] naviat opened #66 "Download nothing after authenticate"
After login with username/password, I cannot get any video file:

Log below:

INFO     Logging in ...
INFO     Retrieving an authentication token. Please wait...
INFO     Authentication token acquired!
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Downloaded all files.
INFO     Logged Out!

[2018-01-01 04:49] omargho commented on #64
the soltution of #61 works fine to me as mentioned you have to do that
[code]
if that doesn't work try to remove the package then retry

[2018-01-01 05:24] reddysrock commented on #64
It hangs after entering email id

[2018-01-01 05:49] echo-time-cat commented on #58
For anyone still facing the "username or email not found..." with otherwise working credentials, try adding this:

pip install auth0-python

...then attempt your download again.

I did a fresh install on a new (CentOS) VM and was still facing the same issue until I added this.

[2018-01-01 05:55] echo-time-cat commented on #65
What was the URL for the course you used when calling linuxacademy-dl? It looks like the course id was not correct/valid.

[2018-01-01 06:08] echo-time-cat commented on #56
I ran into this too during install. Quite common if it's a fresh VM, you just haven't gotten to adding a compiler yet.

yum install gmp-devel
pip uninstall ecdsa pycrypto paramiko fabric
pip install fabric

(I didn't find it necessary to export the library path referenced in the below link)
Reference:
https://stackoverflow.com/questions/17319033/fixing-warning-gmp-or-mpir-library-not-found-not-bui

[2018-01-01 11:42] Arjoni commented on #58
@echo-time-cat I successfully login but it doesn't start to download anything.

[code]

[2018-01-01 17:46] avaika commented on #65
I had the same issue. It turned out that dl script doesn't accept URLs which ends with '/'

Means https://linuxacademy.com/cp/modules/view/id/1/ is incorrect URL, while https://linuxacademy.com/cp/modules/view/id/1 is a correct one.

[2018-01-03 03:42] tanmayakp commented on #64
If you have installed from pip then do
$pip uninstall linuxacademy-dl
Then do
git clone -b authentication-fixes https://github.com/fclerg/linuxacademy-dl.git
cd linuxacademy-dl && python setup.py install

It worked for me.

[2018-01-14 21:22] StevkoSk commented on #58
Works well for me. Thanks!

[2018-01-23 11:06] weedobaledo opened #67 "Can't authenticate"
I've verified and re-verified that my login in correct. But it keeps popping this error message:

/media # linuxacademy-dl https://linuxacademy.com/cp/modules/view/id/94
Username / Email : ramshankar770
Password:
INFO     Logging in ...
ERROR    Username or email not found! Please try again.

Running using Docker.

[2018-01-23 21:53] pavleec commented on #63
I confirm the above - the same on https://linuxacademy.com/cp/modules/view/id/50

[2018-01-25 16:34] subratafouzder commented on #67
same here

[2018-01-29 08:50] shardulsrivastava commented on #67
Got the same issue. It seems the Redirect Check is the issue here:

 # There will be a redirect if the login is successful.
        # Otherwise it will be an invalid login
        if status_code == 200:
            raise LinuxAcademyException(
                'Username or email not found! Please try again.'
            )

[2018-01-29 09:38] shardulsrivastava commented on #67
@weedobaledo  Issue has been fixed by one user fclerg . Quoting his comment from another issues opened for the same authentication issue :

"Hi @Aniketh-Raj,

This issue has already been reported via #58 and #59.
As mentionnes in #58, I fixed it in a fork with the branch authentication-fixes for which the pull request is still pending.

Meanwhile, you can clone and install the code from this branc

[2018-02-01 06:41] kiran84k commented on #66
Same problem here.

[2018-02-14 17:52] WorkingData opened #68 "Getting Trackback issue"
When I go to download videos from linuxacademy it always shows bellow error
Traceback (most recent call last):
  File "/usr/local/bin/linuxacademy-dl", line 7, in <module>
    from linuxacademy_dl.__main__ import main
  File "/usr/local/lib/python2.7/dist-packages/linuxacademy_dl/__main__.py", line 38, in <module>
    from linuxacademy_dl.cli import CLI
  File "/usr/local/lib/python2.7/dist-packag

[2018-02-16 11:17] thulasi39 commented on #67
Still I am facing the same. Anyone overcome this authentication issue?

[2018-02-17 03:12] mindovermiles262 commented on #68
It looks like it might be an issue with your version of OpenSSL, try `sudo apt-get install openssl` then `pip install pyopenssl`

[2018-02-26 19:47] coolaishwary11 commented on #58
Can anyone share his/her account for a day or two ? Mine is suspended !
Please

[2018-02-27 15:48] mindovermiles262 opened #70 "Downloads, then "Killed""
Having an issue where LA-dl will download a few videos, then return "Killed" and stop.

Installed via @fclerg 's Auth patch, and running `linuxacademy-dl -q 480 -u <my-username> -p <my-password> --use-ffmpeg <url of course>`

No errors in `--debug`:
[code]

I'm able to complete 2 or 3 videos before this Killed action occurs. Re-running the command allows another 2-3 videos to be completed

[2018-02-28 10:11] philroche commented on #67
@shardulsrivastava Your authentication-fixes branch worked for me. Thank you

[2018-03-10 14:07] Raswanth opened #71 "Logging out automatically"
Hey guys. Can anyone help me with this error? It just accepts the password and email says it downloaded the file but nothing actually happened.I have already used the fork given by @fclerg and i got this error.I saw the same issue  #46 but i have also replaced the assets file made by @mstickler . But i am still unable to download them? Does it still work ?Pls help me out !

[2018-03-11 07:33] andreifilip commented on #64
Any idea how can I fix this if I'm using the docker image ?
Thanks

[2018-03-14 16:55] neelvts opened #72 "How to solve this ssl error?"
[log_2018-03-14_22-20-16.log](https://github.com/vassim/linuxacademy-dl/files/1812123/log_2018-03-14_22-20-16.log)

[2018-03-18 14:21] AliBenCafu commented on #71
Have you found a solution?

[2018-03-19 17:27] Raswanth commented on #71
nope

[2018-04-03 14:07] kalib commented on #70
Same thing with me... In fact, it's been a while since I'm trying to download a course and it's failing all the time in the same video. Maybe because of the size of this specific video? I tried more than 5x and it always fails in the same one.. meaning I can't continue with the downloads because it's stuck in this video.

[2018-04-03 14:29] kalib commented on #70
Oh, new information, change the quality helped me.. What gives me a better understanding of it. Maybe LinuxAcademy is blocking downloads at a specific size/chunk. The video that was always failing worked after I included -q 720 in my command. (the default is 1080)

[2018-04-10 09:37] npsoni88 opened #73 "downloads the mp4 instead of the actual video"
hey guys, its downloading the the mp4 file for me instead of the videos. any help?

[2018-04-21 18:45] hackuun opened #74 "Wrong course is downloading"
I assume this package is deadend?
First I can't login, so I used new branch.
Then it's downloading wrong course no matter what link I provide.

[2018-04-23 15:43] cRaZy-bisCuiT commented on #67
It doesn't work for me, I did install the forked version. Any ideas?

[2018-05-04 21:56] Lauren-Buchholz commented on #63
It is also happening for https://linuxacademy.com/cp/modules/view/id/45

[2018-05-10 08:09] efowel opened #75 "Having problems on trial account"
is this applicable for 7 days trial accounts? im getting
ERROR    Username or email not found! Please try again.
I'm pretty sure i have the correct inputs

[2018-05-11 04:32] neetu89 commented on #58
@fclerg Hi can you please explain how to make those changes. can you briefly explain, i am new to python and trying to download video from linuxacadamy. getting error Username or email not found!

git clone -b authentication-fixes https://github.com/fclerg/linuxacademy-dl.git
python setup.py install

[2018-05-11 08:01] neetu89 commented on #58
Hi @fclerg i am able to clone
C:\Users\neerani>git clone -b authentication-fixes https://github.com/fclerg/linuxacademy-dl.git
Cloning into 'linuxacademy-dl'...
remote: Counting objects: 335, done.
remote: Total 335 (delta 0), reused 0 (delta 0), pack-reused 335
Receiving objects: 100% (335/335), 67.68 KiB | 81.00 KiB/s, done.
Resolving deltas: 100% (214/214), done.

And how to execute the step py

[2018-05-11 08:05] Raviadonis commented on #58
I just did a clone and it's working perfectly but not the docker image.
Could you please fix it?

Regards,
Ravichandran

On Fri, May 11, 2018, 1:31 PM neetu89 <notifications@github.com> wrote:

[2018-05-11 08:14] neetu89 commented on #58
@vassim could you please guide?

[2018-05-11 08:18] neetu89 commented on #58
Hi @Raviadonis ,
Could you please let me know after cloning. what should be the next step.
I have tried after cloning still getting error

Username / Email : xxxxxxxxxx
Password:
INFO     Logging in ...
ERROR    Username or email not found! Please try again.

[2018-05-11 08:35] Raviadonis commented on #58
Yep, I just did a simple git clone and it worked.

Note: I'm using linux.

Regards,
Ravichandran

On Fri, May 11, 2018, 1:48 PM neetu89 <notifications@github.com> wrote:

[2018-05-11 08:43] neetu89 commented on #58
ok thanks for the reply. I am using windows, i just did cloning using below command.
C:\Users\neerani>git clone -b authentication-fixes https://github.com/fclerg/linuxacademy-dl.git

Then tried to download---------
C:\Users\neerani>linuxacademy-dl https://linuxacademy.com/cp/courses/lesson/course/1486/lesson/5/module/158

Username / Email : xxxxxx
Password:
INFO     Logging in ...
ERROR    Usernam

[2018-05-15 23:40] prabirsekhri commented on #67
Thank you, the authentication fixed worked!

[2018-06-11 09:15] ktulinho commented on #58
Does linuxacademy-dl work when you sign-in with google?

[2018-06-12 13:39] ktulinho commented on #67
Does linuxacademy-dl work when you sign-in with google?
I'm also getting the following error when I try to login with my google account:

[2018-06-14 20:44] formher commented on #75
same issue here

[2018-06-17 09:54] coolaishwary11 commented on #75
Not working !

[2018-06-20 10:54] mohgabr commented on #75
I have the same problem.
Is the problem exists only for the trial accounts or not working at all?

[2018-06-22 16:38] nimika opened #77 "I have the the account {not trial} still not working"
When i try to run the the command it gives me below error. I have verified that the userid is correct Any idea why its not downloading ?

INFO     Logging in ...
ERROR    Username or email not found! Please try again.

[2018-06-23 10:43] AMRUTA-BANDHU-CHAUDHURY opened #78 "Not able to login Into Linux Academy"
I am able to login into Linux academy from browser, but via linuxacademy-dl command line i am unable to login . My account is not also free account, i have purchased via by paying money, i have passed the username and password also in "" or '' inside this quote also .

C:\Windows\system32>linuxacademy-dl help
Username / Email : "xxxxxx.xxxxxx@gmail.com"
Password:
ERROR    Unknown Exception
ERROR

[2018-06-24 15:32] formher commented on #75
looks like developers bailed on this.

[2018-07-06 07:16] jcolfej commented on #78
Check #60 pull request ;)

[2018-07-06 07:16] jcolfej commented on #77
Check #60 pull request ;)

[2018-07-06 07:16] jcolfej commented on #75
Check #60 pull request ;)

[2018-07-06 07:17] jcolfej commented on #74
For auth, there is a pull request : #60

[2018-07-25 14:02] dhavalkpatel commented on #31
Hello,
I'm getting below error
ERROR    Unknown Exception
ERROR    'contents'
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packages/linuxacademy_dl-1.0a4-py3.5.egg/linuxacademy_dl/cli.py", line 205, in main
    la.analyze()
  File "/usr/local/lib/python3.5/site-packages/linuxacademy_dl-1.0a4-py3.5.egg/linuxacademy_dl/linux_academy.py", line 218, in analyze
    self._cou

[2018-07-31 09:57] shoaibahmedbeg commented on #29
Hi Vassim,

I am facing the issue when I tried to download the videos and here is the error I am getting:

]# linuxacademy-dl -u  xxx -p xxxx  https://linuxacademy.com/cp/modules/view/id/204
INFO     Logging in ...
INFO     Retrieving an authentication token. Please wait...
INFO     Authentication token acquired!
INFO     Analyzing ...
INFO     Downloading files ...
INFO     Skipping already exist

[2018-07-31 23:34] robk9e opened #79 "ERROR u'contents'"
Hello guys,

I'm facing the following problem:

2018-07-31 20:31:15,599 INFO     Debug log file created at C:\Users\ds\linuxacademy-dl\log\log_2018-07-31_20-31-15.log
2018-07-31 20:31:15,601 DEBUG    Python: CPython 2.7.13 (v2.7.13:a06454b1afa1, Dec 17 2016, 20:42:59) [MSC v.1500 32 bit (Intel)]
2018-07-31 20:31:15,601 DEBUG    Platform: Windows-10-10.0.17134 [10.0.17134]
2018-07-31 20:31:15,601 D

[2018-08-04 18:25] ktulinho commented on #78
Does not see to work if you login using google account.

[2018-08-07 10:40] abhik2415 opened #80 "download failed"
download failed with error below

2018-08-07 16:06:40,374 INFO     Logged Out!
2018-08-07 16:06:40,374 ERROR    Unknown Exception
2018-08-07 16:06:40,375 ERROR    '1080'
Traceback (most recent call last):
  File "build/bdist.linux-x86_64/egg/linuxacademy_dl/cli.py", line 206, in main
    la.download()
  File "build/bdist.linux-x86_64/egg/linuxacademy_dl/linux_academy.py", line 222, in download

[2018-08-15 05:49] sheepz10 opened #81 "activities download"
Hi, First many thanks for the awesome work you put in this!

the only problem is that the script dont "enter" to activities pages and download the 'introduction' & 'solutions' from that pages.

For my (guess i'm not the only one) thus are the must important video in every course.

[2018-08-20 04:02] taufique786 commented on #80
Getting the same error..any fixes?

[2018-09-11 08:44] ngarafol commented on #67
Seems to have stopped working for me too. Using auth fixed version.

[2018-09-13 07:03] cRaZy-bisCuiT commented on #67
Is this project abandoned?

[2018-09-17 18:17] thulasi39 commented on #80
Same error. Any fix Pls?